@model IEnumerable<Brdy.Data.Models.SeenBirds>

@{
    ViewData["Title"] = "Seen List";
}

<style>
    .table {
        color: white;
        background-color: black;
        opacity: 0.7;
    }
</style>
<h1>Seen List</h1>

<p>
    <a asp-action="Seen">Add at bird you spotted</a>
</p>
<table class="table">
    <thead class="table.head">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScientificName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lattatude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScientificName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lattatude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.BirdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
