@model Brdy.Models.SightingDetail

@{
    ViewData["Title"] = "SearchBirdByLocation";
}

<h1>SearchBirdByLocation</h1>

<div>
    <h4>SightingDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.speciesCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.speciesCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sciName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sciName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.obsDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.obsDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.howMany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.howMany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.obsValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.obsValid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.obsReviewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.obsReviewed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locationPrivate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locationPrivate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
