@model IEnumerable<Brdy.Models.SightingDetail>

@{
    ViewData["Title"] = "GetRecentAsync";
}

<h1>GetRecentAsync</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.speciesCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sciName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.obsDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.howMany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.obsValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.obsReviewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locationPrivate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.speciesCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sciName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obsDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.howMany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obsValid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obsReviewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locationPrivate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
